.App {
  width: 600px;
  margin:  auto;
  display:  grid;
  grid-template-columns:  50% 50%;
  gap :10px;
  color: aliceblue;
  margin-top: 20px;
  

}
.App>button:nth-child(1){
  background-color: #1a87b9;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  color:  white;
  font-weight: 600;
}
.App>button:nth-child(2){
  background-color:#6b9ea6 ;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  color:  white;
  font-weight: 600;
}
.App>button:nth-child(3){
  background-color: #f09322;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  color:  white;
  font-weight: 600;
}
.App>button:nth-child(4){
  background-color: #b22b31;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  color:  white;
  font-weight: 600;
}
.App>button:nth-child(5){
  background-color: green;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  color:  white;
  font-weight: 600;
}
.App>button:nth-child(6){
  background-color:#514c84 ;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  color:  white;
  font-weight: 600;
}
.App>button:nth-child(7){
background-color:#c0326a ;
border-radius: 10px;
width: 250px;
height: 30px;
color:  white;
font-weight: 600;
}
.App>button:nth-child(8){
  background-color:#966e3a;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  color:  white;
  font-weight: 600;
}
